:root {
    --margin-lr: 250px;
}

.header {
    background-color: #222222;
    height: auto;
    padding: 16px 0 100px 0;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin: 0 auto;
}

.menu {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: -80px var(--margin-lr) 0 var(--margin-lr);
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    font-weight: bold;
    color: #079A82;
    margin: 0 24px 6px 0;
}

.wrapper-button {
    vertical-align: bottom;
}

.button {
    width: 100px;
    height: 100px;
    vertical-align: bottom;
    margin: 0 24px 0 24px;
}

.dropdown {
    width: 256px;
    margin: 0 24px 0 0;
}

.dropdown-long {
    margin: 0 24px 0 0;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.wrapper-print{
    display: flex;
    justify-content: center;
    margin: 12px var(--margin-lr) 0 var(--margin-lr);
    padding-right: 10px;
    padding-left: 10px;
}

.print{
    background-color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.wrapper-headers-cards {
    margin: 12px var(--margin-lr) 0 var(--margin-lr);
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.wrapper-cards {
    margin: 6px var(--margin-lr) 0 var(--margin-lr);
    padding-right: 10px;
    padding-left: 10px;
}

.table {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.footer {
    background-color: #222222;
    height: 75px;
    width: 100%;
    margin-top: 24px;
}
